*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 60px;
    color: #5167AE;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
header{
    width: 100%;
    height: 830px;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(273, 79%, 15%,0.6), hsl(261, 43%, 45%,0.10)), url(./fotos/principal.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(273, 79%, 15%,0.30), hsl(261, 43%, 45%,0.10)), url(./fotos/principal.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: #EED5FC;
    font-weight: bold;
    text-decoration: none;
    margin: 50px;

}
nav>a:hover{
    text-decoration: underline;
}
#wave{
    width: 110%;
    bottom: 0;
    position: absolute;
    height: 275px;
    overflow: hidden;
}
.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.text-header h1{
    font-size: 90px;
    font-weight: 300;
    color: #f6f0fa;
}
.text-header h2{
    font-size: 35px;
    font-weight: 300;
    color: #EBD5F8;
}
.container-my{
    display: flex;
    justify-content: space-evenly;
}
.image-my{
    width: 45%;
}
.my .content-text{
    width: 48%;
}
.content-text h3{
    margin-bottom: 15px;  
}
.content-text h3 span{
    background: rgb(119, 38, 196);
    color: seashell;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 9px;
    font-size: 25px;   
}
.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}
.galery-things{
    width: 24%;
    height: 200px;
    margin-bottom: 145px 0 0 10px;
    cursor: pointer;
    margin: 60px 10px 50px 60px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    float: left;
    
}
.galery-things h3{
    font-size: 35px;
    font-weight: 300;
    color: #3f1f5e;
}
.image-things{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    margin-top: 50%;
    padding: 10px 30px 10px 30px;
    background-color: rgb(156, 77, 230);
    padding: 60px 0 30px;
}
.container-footer{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 100px;
      
}
.content-footer h4{
    color: #fff;
    font-size: 25px;
    font-weight: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;   
}
.content-footer p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: solid;
}
.column1{
    width: 50%;
    margin: 0 5%;
    display: inline-block;
    vertical-align: top;
}
.column2{
    width: 9%;
    margin: 0 5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.column3{
    margin: 0 5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
